NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
CORS_ORIGINS=http://localhost:4200

HOST_DB=localhost
PORT_DB=5432
USER_DB=transci
PASSWORD_DB=transci
DATABASE_DB=transci_ci
DB_SSL=false
DB_SYNCHRONIZE=false
DB_LOGGING=true

JWT_ACCESS_SECRET=change-me-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d
